<a href="https://colab.research.google.com/github/p3dr3nriqu3/TakeBlip/blob/main/TesteTakeBlip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
url = "/content/drive/MyDrive/Atividade Técnica - Cai na folia/DadosBrutosEventTracks (3).csv"

Importando as Bibliotecas:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import  matplotlib.ticker as ticker 
import seaborn as sns

Análises:

In [3]:
dados = pd.read_csv(url,
        error_bad_lines=False,
        encoding="ISO-8859-1", 
        #parse_dates=['datetime'], 
        #sep='delimiter',
        engine='python',
        skipfooter = 12,
        sep=";"
        #skiprows=2            
        );

In [4]:
#Uma pequena visualização aleatória para conhecer a base e suas variáveis.
dados.sample(5)

       ï»¿EventTrackSequentialID  ...                       Action
48019                      58104  ...  API - Consultar blocos hoje
23644                      33729  ...            Ver outros blocos
48677                      58762  ...  API - Consultar blocos hoje
28940                      39025  ...                         Menu
36421                      46506  ...  API - Consultar blocos hoje

[5 rows x 5 columns]

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52888 entries, 0 to 52887
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ï»¿EventTrackSequentialID  52888 non-null  int64
 1   OwnerIdentity              52888 non-null  object
 2   StorageDate                52888 non-null  object
 3   Category                   52888 non-null  object
 4   Action                     52888 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.0+ MB

In [6]:
#Alterando o tipo da coluna "StorageDate" apra Datetime.
dados['StorageDate'] = pd.to_datetime(dados['StorageDate'],yearfirst=True)

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52888 entries, 0 to 52887
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ï»¿EventTrackSequentialID  52888 non-null  int64
 1   OwnerIdentity              52888 non-null  object
 2   StorageDate                52888 non-null  object
 3   Category                   52888 non-null  object
 4   Action                     52888 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.0+ MB

In [8]:
#Lendo as 5 primeira linhas do arquivo
dados.head()

   ï»¿EventTrackSequentialID         OwnerIdentity  ...  Category            Action
0                        100  carnabelo@msging.net  ...      Flow       Boas vindas
1                        101  carnabelo@msging.net  ...      Flow  Objetivo - Beber
2                        102  carnabelo@msging.net  ...  Objetivo             Beber
3                        103  carnabelo@msging.net  ...      Flow             Intro
4                        104  carnabelo@msging.net  ...      Flow              Menu

[5 rows x 5 columns]

In [12]:
#Lendo as 5 ultimas linhas do arquivo
dados.tail()

       ï»¿EventTrackSequentialID  ...               Action
52883                      62968  ...  Fallback - Diversos
52884                      62969  ...    Fallback - Musica
52885                      62970  ...            Playlists
52886                      62971  ...       Ouvir playlist
52887                      62972  ...          Intro - Bot

[5 rows x 5 columns]

In [9]:
#Quantidades de linas e colunas do DataFrame
dados.shape

(52888, 5)

In [10]:
#Descrição do Index
dados.index

RangeIndex(start=0, stop=52888, step=1)

In [11]:
#Contagem de Dados Não Nulos
dados.count()

ï»¿EventTrackSequentialID    52888
OwnerIdentity                52888
StorageDate                  52888
Category                     52888
Action                       52888
dtype: int64

In [17]:
dados["OwnerIdentity"]

0        carnabelo@msging.net
1        carnabelo@msging.net
2        carnabelo@msging.net
3        carnabelo@msging.net
4        carnabelo@msging.net
                 ...
52883    carnabelo@msging.net
52884    carnabelo@msging.net
52885    carnabelo@msging.net
52886    carnabelo@msging.net
52887    carnabelo@msging.net
Name: OwnerIdentity, Length: 52888, dtype: object

In [18]:
url2 = "/content/drive/MyDrive/Atividade Técnica - Cai na folia/DadosBrutosMessages (1).csv"

In [21]:
dados2 = pd.read_csv(url2,
        error_bad_lines=False,
        encoding="ISO-8859-1", 
        #parse_dates=['datetime'], 
        #sep='delimiter',
        engine='python',
        skipfooter = 12,
        sep=";"
        #skiprows=2            
        );

In [24]:
dados2.sample(10)

       ï»¿MessageSequentialID  ... MessageOriginator
24255                  340699  ...              User
5881                   163958  ...               Bot
27844                  363083  ...               Bot
19070                  297291  ...               Bot
22101                  321659  ...               Bot
8886                   206841  ...               Bot
9952                   225211  ...               Bot
8393                   202617  ...               Bot
33520                  444359  ...              User
373                     76121  ...               Bot

[10 rows x 6 columns]

In [23]:
dados2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33754 entries, 0 to 33753
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ï»¿MessageSequentialID  33754 non-null  int64
 1   StorageDate             33754 non-null  object
 2   FromIdentity            33754 non-null  object
 3   ToIdentity              33754 non-null  object
 4   Message                 33754 non-null  object
 5   MessageOriginator       33754 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.5+ MB