<a href="https://colab.research.google.com/github/p3dr3nriqu3/TakeBlip/blob/main/TesteTakeBlip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
url = "/content/drive/MyDrive/Atividade Técnica - Cai na folia/DadosBrutosEventTracks (3).csv"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import  matplotlib.ticker as ticker 
import seaborn as sns

In [31]:
dados = pd.read_csv(url,
        error_bad_lines=False,
        encoding="ISO-8859-1", 
        #parse_dates=['datetime'], 
        #sep='delimiter',
        engine='python',
        sep=";"
        #skiprows=2            
        );

In [32]:
dados.sample(5)

       ï»¿EventTrackSequentialID  ...                           Action
12530                      22615  ...  API  - Carrossel blocos -  Hoje
21159                      31244  ...                   Agendar - Push
12602                      22687  ...       API - Buscar info do bloco
6669                       16754  ...  API  - Carrossel blocos -  Hoje
18996                      29081  ...             API - Salvar - Bloco

[5 rows x 5 columns]

In [33]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52900 entries, 0 to 52899
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ï»¿EventTrackSequentialID  52900 non-null  int64
 1   OwnerIdentity              52900 non-null  object
 2   StorageDate                52900 non-null  object
 3   Category                   52900 non-null  object
 4   Action                     52900 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.0+ MB

In [34]:
dados.head()

   ï»¿EventTrackSequentialID         OwnerIdentity  ...  Category            Action
0                        100  carnabelo@msging.net  ...      Flow       Boas vindas
1                        101  carnabelo@msging.net  ...      Flow  Objetivo - Beber
2                        102  carnabelo@msging.net  ...  Objetivo             Beber
3                        103  carnabelo@msging.net  ...      Flow             Intro
4                        104  carnabelo@msging.net  ...      Flow              Menu

[5 rows x 5 columns]

In [35]:
#Quantidades de linas e colunas do DataFrame
dados.shape

(52900, 5)

In [36]:
#descrição do Index
dados.index

RangeIndex(start=0, stop=52900, step=1)

In [37]:
dados.columns

Index(['ï»¿EventTrackSequentialID', 'OwnerIdentity', 'StorageDate', 'Category',
       'Action'],
      dtype='object')